@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: #FAF4F2;
}

/* Common */
a, button, select, textarea, input {
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: #F8E1DB;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header-item {
    padding: 8px 16px;
}

.header-item__link {
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
}

.header-item__link:hover {
    color: #bb4d4d; 
}

.header__menu {
    display: none;
    font-size: 2rem;
}

/* Intro */
.intro__img {
    height: 600px;
    background-image: url('./img/BG.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Activity */
.activity {
    padding: 43px 0;
    background-color: #FAF4F2;
    max-width: 100%;
}
.activity__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity__desc {
    margin-top: 5px;
    color: #8b8b8b;
}

.activity__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 37px;
    margin-top: 30px;
    list-style: none;
    padding: 0 10px;
}

.activity-item {
    flex: 1;
    background-color: #fff;
    padding: 37px 40px;
    border-radius: 16px;
    text-align: center;
    position: relative;
}


.activity-item__body {
    display: inline-block;
    width: 250px;
    height: 155px;
    border-radius: 16px;
}

.activity-item__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.3s;
    border-radius: 16px;
}

.activity-item:hover .activity-item__thumb {
    transform: scale(1.1);
}

.activity-item__heading {
    margin-top: 16px;
    font-weight: 600;
}

.activity-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.activity-item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    line-height: 1.5;
    width: 170px;
    background-color: #e7e7e7;
    color: #8b8b8b;
    border-radius: 20px;
    height: 40px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.activity-item__btn:hover {
    background-color: #F8E1DB;
    color: #bb4d4d;
}

.activity-item__evaluate {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12%;
    right: 17%;
    z-index: 1;
    cursor: pointer;
}

.active {
    color: #d67459;
}

.activity__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #d98169;
    height: 46px;
    width: 186px;
    border: 1px solid #d98169;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.activity__btn:hover {
    color: #bb4d4d;
   background-color: #f3e0db;
}

/* Contact */
.contact {
    background: url('./img/mask.png'), #f3e0db;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -300px center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__images {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-content {
    width: 50%;
}

.contact-content__heading {
    color: #8b8b8b;
}

.contact-content__desc {
    width: 100%;
    margin-top: 24px;
    color: #8b8b8b;
}

.contact__info {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.contact__left {
    width: 50%;
}

.contact__download, 
.contact__follow {
    color: #8b8b8b;
    font-size: 1.8rem;
    font-weight: 500;
}

.contact-app {
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
}

.contact__right {
   width: 50%;
}

.contact-social {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.contact-social__icon {
    color: #d67459;
    font-size: 3rem;
}

/* Footer */
.footer {
    margin-top: 93px;
    padding: 93px 46px 30px;
    background-color: #f3e0db;
    border-radius: 50px 50px 0 0;
}

.footer__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.footer-item__heading {
    margin-bottom: 30px;
    color: #3c3938;
}

.footer-item__desc {
    width: 508px;
    line-height: 1.7;
    color: #8b8b8b;
}

.footer-item__link {
    display: block;
    color: #3c3938;
    margin-top: 10px;
}

.footer-item__link:hover {
    text-decoration: underline;
}

.footer__all-right {
    color: #8b8b8b;
    margin-top: 60px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__copy {
    margin-right: 5px;
    font-size: 2rem;
}

/* Reponsive */
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .header__navigation {
        flex-direction: column;
        gap: 5px;
        background-color: #000;
        min-width: 30%;
        min-height: 20%;
        padding: 10px;
        position: absolute;
        top: 100px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: ease 0.5s;
    }

    .open {
        opacity: 1;
        visibility: visible;
    }
    
    .header-item__link {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
    }

    .header__menu {
        display: block;
        position: relative;
    }

    .activity__list {
        flex-wrap: wrap;
    }
    .activity-item {
        width: 50%;
        margin-bottom: 37px;
    }

    .activity-item__evaluate {
        right: 20%;
    }

    .contact {
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .contact__images {
        width: 100%;
        justify-content: center;
    }

    .contact-content {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .contact__left, .contact__right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-content__desc {
        width: 100%;
        text-align: center;
    }

    .footer__list {
        flex-wrap: wrap;
    }

    .footer-item {
        width: 50%;
    }

    .footer-item:first-child {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-item:nth-child(2){
        width: 33.33%;
    }

    .footer-item:nth-child(3){
        width: 33.33%;
    }

    .footer-item:nth-child(4){
        width: 33.33%;
    }

}

/* Mobile */
@media (max-width: 767px) {
    .header__navigation {
        flex-direction: column;
        gap: 5px;
        background-color: #000;
        min-width: 30%;
        min-height: 20%;
        padding: 10px;
        position: absolute;
        top: 100px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: ease 0.5s;
    }

    .open {
        opacity: 1;
        visibility: visible;
    }
    
    .header-item__link {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
    }

    .header__menu {
        display: block;
        position: relative;
    }

    .activity__list {
        width: 100%;
        flex-wrap: wrap;
    }

    .activity-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .activity-item__evaluate {
        right: 22%;
    }

    .contact {
        padding: 20px 0;
        flex-wrap: wrap;
    }

    .contact__images {
        width: 100%;
        justify-content: center;
    }

    .contact__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact-content {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    .contact__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contact__left, .contact__right {
        width: 100%;
    }

    .contact-app, .contact-social {
        justify-content: center;
    }

    .contact-content__desc {
        width: 100%;
        text-align: center;
    }

    .footer-item:first-child {
        display: none;
    }

    .footer__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-item {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
}